<div class="row">
  <div class="span4"><img src="/assets/header-top-logo.png" alt="" width="100%"></div>
  <div class="span8">
    <ul class="nav nav-pills pull-right"> 
      <li class="divider-vertical" ><%= link_to "HOME" %></li>
      <li class="divider-vertical"><%= link_to "SITE MAP" %></li>
      <li class="divider-vertical"><%= link_to "CONTACTS" %></li>
    </ul>
  </div>
</div>


<div class="row">
  <img src="/assets/header-top-logo2.png" alt="" width="95%">
</div>


<div class="row">
    <div class="span5">
      <h2>TAX NEWS</h2>
    

    <table  >
      <tbody >
        <tr>
          <td>22 | 9 | 2006</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</td>
        </tr>
        <tr>
          <td>17 | 9 | 2006</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</td>
        </tr>
      </tbody>
    </table>
    <h4 style="color: white;">NEWSLETTER SIGNUP:</h4>
    <form class="navbar-form pull-left form-horizontal">
      <input type="text" class="span2" placeholder ="Enter Your email">
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>
  <div class="span7">
    <h2>About Us</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>


</div>















