 <%  content_for :header_image do %>
 <%= image_tag('financial_services.jpg', :style => 'width:100%;margin-top:-10px;height:200px;') %>
 <% end %>
<div class="row">
  <div class="span4" style="background:#f1f1f1;">
    <div style="min-height:500px;">
       <div class="media-body">
    <h3 class="media-heading" style="text-align:center;"><%= image_tag('gagar.jpg', :style => 'width:100%;height:50px;')%> </h3>
    
    <div class="media">
      <table class="table table-bordered" style="background:#ffffff;">
       <tr>
         <td>BSE</td><td>Monday, March 04, 2013 07:40:09 PM, BSE Ticker</td>
       </tr>
       <tr>
         <td>NSE</td><td>Monday, March 04, 2013 07:40:09 PM, BSE Ticker</td>
       </tr>
       <tr>
         <td>BSE</td><td>Monday, March 04, 2013 07:40:09 PM, BSE Ticker</td>
       </tr>
       <tr>
         <td>NSE</td><td>Monday, March 04, 2013 07:40:09 PM, BSE Ticker</td>
       </tr>
       <tr>
         <td>BSE</td><td>Monday, March 04, 2013 07:40:09 PM, BSE Ticker</td>
       </tr>
       <tr>
         <td>NSE</td><td>Monday, March 04, 2013 07:40:09 PM, BSE Ticker</td>
       </tr>
       <tr>
         <td>BSE</td><td>Monday, March 04, 2013 07:40:09 PM, BSE Ticker</td>
       </tr>
       <tr>
         <td>NSE</td><td>Monday, March 04, 2013 07:40:09 PM, BSE Ticker</td>
       </tr>
     </table>
    </div>
  </div>
    </div>
  </div>
  <div class="span8" style="background:#f2f2f2;">
    <div style="min-height:500px;">
      <div class="row">
        <div style="min-height:300px;margin-top:40px;">
          <div class="span3">
            <h3 style="margin-left:20px;">
              WHAT ASSITANCE DOES
            </h3>
        </div>
          <div class="span5">
          <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctusVivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus</p>
        </div>
          
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <h3 style="margin-left:20px;">
              IMPORTANT THINGS ABOUT MARKET
          </h3>
          <p class="lead" style="margin-left:20px;">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis</p>
        </div>
        <div class="span2">
          <%= link_to "Sign up","",:class =>'btn btn-info' , :style =>"height:100px;width:100px;"%>
        </div>
      </div>
    </div>
  </div>
 
</div>
















