

<div class="page-header">
  <h2><%=t '.title', :default => "TAX NEWS" %></h2>
</div>

<table class="table table-striped " >
  <tbody >
    <tr>
      <td>22 | 9 | 2006</td>
    </tr>
    <tr>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</td>
    </tr>
    <tr>
      <td>17 | 9 | 2006</td>
    </tr>
    <tr>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</td>
    </tr>
  </tbody>
</table>
<h4 style="color: white;">NEWSLETTER SIGNUP:</h4>
<form class="navbar-form pull-left form-horizontal">
  <input type="text" class="span2" placeholder ="Enter Your email">
  <button type="submit" class="btn">Submit</button>
</form>



