 <%  content_for :header_image do %>
 <%= image_tag('services.jpg', :style => 'width:100%;margin-top:-10px;height:200px !important;') %>
 <% end %>

<div class="row">
  <h3>
    Services
  </h3>
  <p class="lead">


We are a team of highly qualified and experienced analysts, who deliver their expertise in providing stock market calls for traders which include tips like Stock Cash Tips, Commodity Tips, MCX Tips, Equity Tips and Intraday Tips. All services are provided through SMS and Instant Messenger.
  </p>
</div>