<%  content_for :header_image do %>
 <%= image_tag('financial_services.jpg', :style => 'width:100%;margin-top:-10px;height:200px;') %>
 <% end %>
<%- model_class = User -%>
<div class="page-header">
  <h3><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "New #{model_class.model_name.human}") %></h3>
</div>
<%= render :partial => 'form' %>
