/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 
  body {
  background-color: #4B7399;
}

 #flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 98%;
  border:2px solid #CC0000;
  padding: 1px;

  margin-bottom: 20px;
}

.error_messages h2 {
    background-color: #CC0000;
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight:normal;
    padding: 10px;
}
.error_messages ul li{
    font-family: arial;
    font-size:12px;
    list-style-type: none;
    color: #2d2d2d;
    font-weight:normal;
    padding-bottom: 5px;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
  list-style-type: none;
  padding:7px 0px 8px 10px;
}

 
 
 
 #footer {
    margin-top: 30px;
    background-color: #150517;
    height: 60px;
    bottom: 0px;
    width:95%;
}

.credit {
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
}